@charset "UTF-8";
body{
    background-image:  url("bgImage.jpeg");
    background-repeat: no-repeat; 
    background-size: cover;
}
#screen{
    background-image: url("bgImage2.jpeg");
    border: 5px solid #fff;
}
#info, #score, #bossHP, #subBoss1HP, #subBoss2HP{
    color: rgba(255, 255, 255, 1.0);
} 