@charset "UTF-8";
    
 weight p2{
    font-weight: bold;
}

height p3{
    line-height: 1.0;
    text-align: justify;
}

height p4{
    line-height: 1.7;
}

height p5{
    line-height: 2.5;
}

p6{
    text-align: left;
}

ali p{
    text-align: justify;
    
}
