@charset "utf-8";

.item{
    background: #0bd;
    color: #fff;
    padding: 10px;
}

css8.container{
    display: grid;
}

 colu.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

gap.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
}

fr.container{
    display: grid;
    grid-template-columns: 1fr 1fr　1fr;
    gap: 10px;
}

rows.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 100px 100px;
}

