@charset "utf-8";

listty ul{
    list-style-type: hiragana-iroha;
}

listty ol{
    list-style-image: url(images/star.png);
    list-style-position: inside;
}

mlist ul{
    list-style: url(images/star.png) inside;
}